div.content div.foodGrid {
    width: 100%;
    margin: 0;
}

form.ui.form.foodForm {
    display: inline-flex;
}

.ui.checkbox input.hidden+label {
    padding-right: 1.8rem;
}

button.ui.button.lunch-button {
    margin-left: 0.8rem;
}

button.ui.button.m-snack-button {
    margin-left: 0.3rem;
}