.two.column.row.nappy-info {
    padding-top: 0;
}

div.centered.center.aligned.four.column.row div.column {
    text-align: center;
}

div.content div.pottyGrid {
    width: 100%;
    margin: 0;
}

p.nappy-numbers {
    padding-top: 2.75vh;
}

p.nappy-names {
    padding-top: 1vh;
}
.ui.button.minus-buttons {
    margin-top: 2vh;
}